* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* ------------------------------- DESAFIO DOS ------------------------------ */
/* ----------------------------- CREAR EL NAVBAR ---------------------------- */

.container {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.containerLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 15px 15px 15px 23px;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItems {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.listItems li {
  padding-right: 25px;
  font-size: 14px;
  font-weight: lighter;
}
/* -------------------------------------------------------------------------- */

/* ------------------------------ DESAFIO TRES ------------------------------ */
/* --------------------- AGREGAR CART WIDGET Y ITEM LIST -------------------- */

.imgCart {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.txtProvContainer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.txtProvicional {
  font-size: 25px;
  font-weight: 500;
  color: cornflowerblue;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- DESAFIO CUATRO ----------------------------- */
/* ---------- AGREGAR CONTADOR CON BOTONES Y, BOTON AÑADIR AL CARRO --------- */
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
}
.cardContainer {
  margin: auto;
  font-weight: 200;
  color: gray;
  margin-bottom: 25px;
}
.cardContainer img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.itemTitle {
  color: rgb(86, 86, 86);
  font-weight: 400;
  margin-bottom: 15px;
}
.buttonsCountContainer {
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid gray;
  border-radius: 3px;
  margin-bottom: 15px;
}
.buttonsCountContainer button {
  border: none;
  background: none;
  color: cornflowerblue;
  font-size: 25px;
  cursor: pointer;
}
.reduceButton {
  margin-bottom: 5px;
}
.buttonAddCartContainer button {
  width: 100%;
  height: 35px;
  border: 0.5px solid cornflowerblue;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  color: gray;
}
/* -------------------------------------------------------------------------- */
